*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}



body {
    padding: 100px;
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 40vw;
    justify-content: center;
    align-items: center;
    margin-left: 4%;

    background-color: rgb(233, 233, 128);
}

.beginPage {
    /* visibility: hidden; */
}

#highScores {
    margin-right: 50%;
}


#startBtn {
    background-color: rgba(0, 255, 85, 0.918);
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
}

#continueBtn {
    background-color: rgba(247, 151, 164, 0.918);
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
}

#continueBtn:hover {
    background-color: turquoise;
}

#startBtn:hover {
    background-color: yellow;
}

#restartBtn {
    background-color: rgb(210, 127, 212);
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
}

#restartBtn:hover {
    background-color: yellow;
}

#submitBtn {
    background-color: rgb(133, 133, 141);
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
}

#submitBtn:hover {
    background-color: yellow;
}

#highBtn {
    background-color: rgb(228, 108, 28);
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
}

#highBtn:hover {
    background-color: yellow;
}
.btn {
    cursor:pointer;
    border-radius: 12px; 
    padding: 6px; 
    font-family: 'Franklin Gothic';
    font-size: 18px;
    background-color: rgb(240, 146, 70);
}

.btn:hover {
    background-color:yellow;
    }

ul {
    
    background-color:rgb(201, 224, 201);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    padding-left: 6%;
    /* padding-top: 0%; */
    /* padding-bottom: 2%; */
    text-justify: center;
    
}



.simple {
    font-size: 25px;
    text-align: center;
    margin-right: 12%;
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    
}

#oppro {
    margin-left: 12%;
    font-size: 40px;
}

.Q1, .Q2, .Q3, .Q4, .Q5, .high {
    text-decoration: bold;
    font-size: 20px;
}

.question1 {
    text-decoration: bold;
    font-size: 20px;
}

.question2 {
    text-decoration: bold;
    font-size: 20px;
}
#timer {
    width:120px;
    height: auto;
    background:#CC0000;
    color:#FFF;
    padding:5px 2px;
    text-align:center;
    top:0;
    position:relative; float:right;
    margin-top: 0px;
    border-radius: 10px;
    font-size: 20px;
}

#results {
    background-color: orange;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    padding-left: 6%;
}

/* .answerContainer {
    width: 800px;
    max-width: 80%;
    background-color: yellow;
    border-radius: 15px;
    padding: 10px; */

