*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}



body {
    padding: 100px;
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 40vw;
    justify-content: center;
    align-items: center;
    margin-left: 9%;

    background-color: rgb(233, 233, 128);
}



#startBtn {
    cursor: pointer;
}

.btn {
    cursor:pointer;  
}

.btn:hover {
    color:rgb(238, 245, 236);
    font-size: 20px;
    background-color:rgb(155, 18, 25);
    border-radius: 10px;
    padding: 5px;
    
}
#nextBtn {
    cursor: pointer;
}
ul {
    
    background-color:rgb(201, 224, 201);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding-left: 6%;
    padding-top: 0%;
    padding-bottom: 7%;
    text-justify: center;
    
}

.class {
    
}

.simple {
    font-size: 25px;
    text-align: center;
    margin-right: 8%;
    text-decoration: underline;
}

h1 {
    margin-left: 17%;
    font-size: 35px;
}

.Q1, .Q2, .Q3, .Q4, .Q5, .high {
    text-decoration: bold;
    font-size: 20px;
}





/* .answerContainer {
    width: 800px;
    max-width: 80%;
    background-color: yellow;
    border-radius: 15px;
    padding: 10px; */

