*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
}



body {
    padding: 100px;
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 40vw;
    justify-content: center;
    align-items: center;
    margin-left: 9%;

    background-color: rgb(233, 233, 128);
}



#startBtn {
    background-color: rgba(0, 255, 85, 0.918);
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
}

#startBtn:hover {
    background-color: yellow;
}

#restartBtn {
    background-color: rgb(210, 127, 212);
    padding: 2px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
}

#restartBtn:hover {
    background-color: yellow;
}

.btn {
    cursor:pointer;
    border-radius: 12px; 
    padding: 6px; 
    font-family: 'Franklin Gothic';
    font-size: 18px;
    background-color: rgb(240, 146, 70);
}

.btn:hover {
    color:rgb(19, 65, 6);
    font-size: 18px;
    background-color:rgb(221, 241, 41);
    border-radius: 12px;
    padding: 6px;
    
}

ul {
    
    background-color:rgb(201, 224, 201);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 15px;
    padding-left: 6%;
    /* padding-top: 0%; */
    /* padding-bottom: 2%; */
    text-justify: center;
    
}



.simple {
    font-size: 25px;
    text-align: center;
    margin-right: 8%;
    text-decoration: underline;
}

h1 {
    margin-left: 11%;
    font-size: 40px;
}

.Q1, .Q2, .Q3, .Q4, .Q5, .high {
    text-decoration: bold;
    font-size: 20px;
}





/* .answerContainer {
    width: 800px;
    max-width: 80%;
    background-color: yellow;
    border-radius: 15px;
    padding: 10px; */

